In [8]:
# Initial list of cars
cars = ["BMW", "Audi", "Toyota", "Ford", "Honda"]
print("Initial cars list:", cars)

Initial cars list: ['BMW', 'Audi', 'Toyota', 'Ford', 'Honda']

In [9]:
cars.append("Mercedes")
print("After append():", cars)

After append(): ['BMW', 'Audi', 'Toyota', 'Ford', 'Honda', 'Mercedes']

In [10]:
temp_cars = cars.copy()   # copy used to keep original list safe
temp_cars.clear()
print("After clear():", temp_cars)

After clear(): []

In [11]:
cars_copy = cars.copy()
print("Copied list:", cars_copy)

Copied list: ['BMW', 'Audi', 'Toyota', 'Ford', 'Honda', 'Mercedes']

In [12]:
cars.append("Audi")
print("Cars list:", cars)
print("Count of 'Audi':", cars.count("Audi"))

Cars list: ['BMW', 'Audi', 'Toyota', 'Ford', 'Honda', 'Mercedes', 'Audi']
Count of 'Audi': 2

In [13]:
more_cars = ["Hyundai", "Kia"]
cars.extend(more_cars)
print("After extend():", cars)

After extend(): ['BMW', 'Audi', 'Toyota', 'Ford', 'Honda', 'Mercedes', 'Audi', 'Hyundai', 'Kia']

In [14]:
cars.insert(2, "Tesla")
print("After insert():", cars)

After insert(): ['BMW', 'Audi', 'Tesla', 'Toyota', 'Ford', 'Honda', 'Mercedes', 'Audi', 'Hyundai', 'Kia']

In [15]:
removed_car = cars.pop(3)
print("Popped car:", removed_car)
print("After pop():", cars)

Popped car: Toyota
After pop(): ['BMW', 'Audi', 'Tesla', 'Ford', 'Honda', 'Mercedes', 'Audi', 'Hyundai', 'Kia']

In [16]:
cars.remove("Ford")
print("After remove('Ford'):", cars)

After remove('Ford'): ['BMW', 'Audi', 'Tesla', 'Honda', 'Mercedes', 'Audi', 'Hyundai', 'Kia']

In [17]:
cars.reverse()
print("After reverse():", cars)

After reverse(): ['Kia', 'Hyundai', 'Audi', 'Mercedes', 'Honda', 'Tesla', 'Audi', 'BMW']

In [18]:
cars.sort()
print("After sort():", cars)

After sort(): ['Audi', 'Audi', 'BMW', 'Honda', 'Hyundai', 'Kia', 'Mercedes', 'Tesla']

In [19]:
# GPA Calculator using Lists, Loop and If-Else

subjects = ["OOP", "DB", "Pak St.", "English"]
credits = [4, 3, 2, 2]

total_points = 0
total_credits = 0

for i in range(len(subjects)):
    marks = int(input("Enter marks for " + subjects[i] + ": "))

    if marks >= 85:
        gp = 4.0
    elif marks >= 75:
        gp = 3.5
    elif marks >= 65:
        gp = 3.0
    elif marks >= 55:
        gp = 2.5
    else:
        gp = 2.0

    total_points += gp * credits[i]
    total_credits += credits[i]

gpa = total_points / total_credits
print("Your GPA is:", round(gpa, 2))

Enter marks for OOP: 89
Enter marks for DB: 78
Enter marks for Pak St.: 89
Enter marks for English: 90
Your GPA is: 3.86