In [1]:
print("hello world")

hello world

In [2]:
x = input("enter your name")

enter your nameRayyan

In [5]:
print("hi, and welcome to webpage\n the folowing are the information of ali's best freind\n name:Rayyan\n age 20\n interest: sports\n nationality pakistani")

hi, and welcome to webpage
 the folowing are the information of ali's best freind
 name:Rayyan
 age 20
 interest: sports
 nationality pakistani

In [4]:
name = input("enter your name")
age = input("enter your age")

interest = input("enter your interest")
nationality = input("enter your nationality")

print("name = ", name)
print("age =", age)
print("interest =", interest)
print("nationality =", nationality)

enter your namerayyan
enter your age20
enter your interestsports
enter your nationalitypakistani
name =  rayyan
age = 20
interest = sports
nationality = pakistani

In [12]:
def odd_even(n):
 if n % 2==0:
    print("given number is even")
 else:
   print("given number is odd")

In [14]:
def best_friend():
   name = input("enter your name")
age = input("enter your age")

interest = input("enter your interest")
nationality = input("enter your nationality")

print("name = ", name)
print("age =", age)
print("interest =", interest)
print("nationality =", nationality)

enter your age20
enter your interestsports
enter your nationalitypakistani
name =  rayyan
age = 20
interest = sports
nationality = pakistani

In [15]:
best_friend()
best_friend()
best_friend()
best_friend()
best_friend()

enter your namerayyan
enter your namesami
enter your namerehan
enter your namesiyab
enter your namesaif

In [18]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# print the table of given number

In [20]:
number = input("enter your number")
for i in range(0,10):
  print(number,"*",i,"=",int(number)*i)

enter your number5
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [22]:
def is_prime(n):
  if n==0 or n==1:
   return 0

  for i in range(2,n):
    if n % i ==0:
       return 0

       return 1

In [23]:
x = int(input("enter a number"))
if is_prime(x)==0:
   print("not prime")
else:
  print("prime")

enter a number11
prime

In [30]:
count =1
for i in range(100):
  if is_prime(i)==i:
   print(count,"\t",i)

  count+=1

1 	 0